* { box-sizing: border-box; }

body {
  margin: 0;
  background-color: #f5f2f0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;  /* antes estava 0.8rem */
  color: #222;
}

img { max-width: 100%; display: block; }

button, a {
  font-family: inherit;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
