<!-- src\app\contact.component.html -->

<main class="content-container">
    <div class="contact-container">
      <section class="contact-info">
        <h2>Nossos Contatos</h2>
        <p><strong>Telefone:</strong> +55 (11) 5571-5900</p>
        <p><strong>WhatsApp:</strong> +55 (11) 91625-5803</p>
        <p><strong>Email:</strong> casademoveisusados&#64;gmail.com</p>
        <p><strong>Endereço:</strong> Rua França Pinto 774, Vila Mariana - SP</p>
      </section>
    
      <section class="map-section">
        <!-- Replace the iframe src with your Google Maps embed link -->
        <iframe 
          width="100%" 
          height="500px"
          min-height="500" 
          frameborder="0" 
          style="border:0" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8773688579075!2d-46.64535645702213!3d-23.587861599552424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a1e1a3c10cf%3A0x8623bb485527f8bb!2sR.%20Fran%C3%A7a%20Pinto%2C%20774%20-%20Vila%20Mariana%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004139-020!5e0!3m2!1sen!2sbr!4v1715536144325!5m2!1sen!2sbr">
        </iframe>
      </section>
    </div>
  </main>
  